body{
    margin: 0;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 34%, rgba(113,124,125,1) 90%);}
.contact-list-heading{
    width:50%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 34%, rgba(113,124,125,1) 90%);
    font-family: sans-serif;
    font-size: 1.5rem;
    color:whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1em;
    margin-top: 2em;
}
.contact-list-heading i{
    font-size: 3rem;
    margin-top: 0.6em;
    margin-left:-1em;
}
.contactlist{
    min-height: 100px;
    width: 50%;
    border-radius: 1em;
    margin-top: 1em;
}
form input{
    height: 2em;
    margin: 1em;
    background-color: transparent;
    color:whitesmoke;
    border-radius: 1em;
    outline: none;
}
form button{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    border: transparent;
    outline: none;
    border-radius: 1em;
    height: 2em;
}
.contact{
    width: 100%;
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contact:hover,.contact:focus{
    background-color: rgba(113,124,125,1);
}
.contact div{
    height: 40px;
    width:100%;
    margin-right: 1em;
    display: inline;
    padding:0.5em;
    position: relative;
}
.left{
    position: absolute;
}
.right{
    position: absolute;
    left:10em;
}
.delete i{
    color:whitesmoke;
    position: absolute;
    left:16em;
}